</br>
<div class="page-header">
	<h2>{{title}}</h2>
</div>
<div  ng-repeat="message in messeges" >
	 <div    role="alert" class="{{message.messageClass}} fadein fadeout"><strong>{{message.strong}} </strong>{{message.message}}</div>
</div>
<div class="row">
	<div class="col-md-9">
		<form class="form-horizontal">
		
			<div class="form-group"> 
				<label  class="col-sm-3 control-label">Rules:</label>
				<div class="col-sm-9">
					<div class="col-sm-3">
						<label for="ruleNumber" class="col-sm-3 control-label">Number:</label>
						<div>
							<input id="ruleNumber" ng-model="ruleNumber" type="number"  class="form-control" >
							</input>
							<md-tooltip md-delay="0"  >
				            	Number used as main game rule
				            </md-tooltip>
						</div>
						
						<label for="ruleDesc" class="col-sm-3 control-label">Word:</label>
						<div>
							<input id="ruleDesc" ng-model="ruleDesc" type="text"  class="form-control" >
							</input>
							<md-tooltip md-delay="0"  >
				            	Word used as main game rule
				            </md-tooltip>
						</div>
						<button type="button" class="btn  btn-primary"
											ng-click="newRule()">Add</button>
					</div>
					<div class="col-sm-6">
						<label for="rules" class="col-sm-6 control-label">Active Rules:</label>
						<table id="rules" class="table table-condensed">
							<tr>
								<th>Number</th> 
								<th>Word</th>
								<th>Actions</th>
							</tr>
					
							<tr ng-repeat="rule in rules">
					
								<td>{{ rule.id }}</td> 
								<td>{{ rule.desc }}</td>
					
								<td> 
									<button type="button" class="btn  btn-danger"
											ng-click="removeRule(rule)">Delete</button>
									<md-tooltip md-delay="0"  >
						            	Remove a rule
						            </md-tooltip>
								</td>
							</tr>
					
						</table>
					</div>
				</div>
			</div>
			
			
			<div class="form-group">
				<label for="order" class="col-sm-3 control-label">Order:</label>
				<div class="col-sm-9">
				    <span ng-repeat='order in orders' id="order" >
				    	<input type='radio' ng-model='$parent.orderId' value='{{order.id}}'/> {{order.desc}}
				    	
				    </span>
				    <md-tooltip md-delay="0"  >
		            	Ordenation of the output: Unordered (same as imput order); Ascending (from lesser to greater); Descending (From greater to lesser)
		            </md-tooltip>
				</div>
			</div>
			<div class="form-group">
				<label for="type" class="col-sm-3 control-label">Game mode:</label>
				<div class="col-sm-9">
				    <span ng-repeat='type in types' id="order" >
				    	<input type='radio' ng-model='$parent.typeId' value='{{type.id}}'/> {{type.desc}}
				    	
				    </span>
				    <md-tooltip md-delay="0"  >
		            	Adicional Game Mode: Divisible (Classic, replace number divisible by numbers on Rules); 
		            						 Containing (replace number if contains the numbers on Rules);
		            						 Both (use both Divisible and Containing modes)
		            </md-tooltip>
				</div>
			</div>
			<div class="form-group">
				<label for="teste" class="col-sm-3 control-label">Game Teste:</label>
				<div class="col-sm-9">
					<input id="teste" ng-model="teste" type="text" class="form-control" />
					<input type="submit" value="Play" class="btn btn-primary" ng-click="playGame()"/>
					<md-tooltip md-delay="0"  >
		            	The game will considerate only numbers (1 2 3 4) and intervals (1-5) an other character will be disregarded.
		            	For instance: (1 omdkfvkd 2 sdfmfk3dmvks4 5-9 13-10) will be considerated (1 2 3 4 5 6 7 8 9) note that (13-10) are considerated a invalid interval 
		            </md-tooltip>
				</div>
			</div>
			<div class="form-group">
				<label for="result" class="col-sm-3 control-label">Result:</label>
				<div class="col-sm-9">
					{{result}}
				</div>
			</div>
		</form>
	</div>
</div>
